.popup {
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 500;
    align-items: center;
    justify-content: center;
}