.profile__edit-button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    width: 18px;
    height: 18px;
    display: flex;
    background-image: url("../../../images/edit.svg");
    background-size: 7.5px 7.5px;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    .profile__edit-button {
        width: 24px;
        height: 24px;
        background-size: 10px 10px;
        background-position: center;
    }
}