.popup__close-button {
    min-width: 26px;
    min-height: 26px;
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
    background-color: transparent;
    border: 0;
    background-image: url("../../../images/add.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-45deg);
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    .popup__close-button {
        min-width: 40px;
        min-height: 40px;
        margin: 0 0 0 430px;
    }
}