.profile__subheading {
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 0;
}

@media screen and (min-width: 700px) {
    .profile__subheading {
        text-align: left;
        margin-top: 16px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1080px) {
    .profile__subheading {
        text-align: left;
        margin-top: 16px;
        font-size: 22px;
    }
}