.profile {
    display: flex;
    flex-direction:column;
    margin: 38.25px auto 36px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .profile {
        flex-direction: row;
        margin: 36.25px 0 46.25px;
        justify-content: flex-start;
    }
}