.element__heart {
    min-width: 21px;
    min-height: 19px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("../../../images/heart_outline.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.element__heart:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__heart:active {
    background-image: url("../../../images/heart_filled.svg");
    opacity: 1;
}