.element__heart {
    background-color: white;
    background-image: url("../../../images/heart_outline.svg");
    min-width: 21px;
    height: 21px;
    margin: 0;
    border: 0;
    padding: 0;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

.element__heart:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__heart:active {
    background-image: url("../../../images/heart_filled.svg");
    opacity: 1;
}