.profile__subheading {
    font-size: 14px;
    text-align: center;
    margin: 14px 0 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0;
}

@media screen and (min-width: 700px) {
    .profile__subheading {
        text-align: left;
        margin-top: 16px;
        font-size: 18px;
    }
}