.popup__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: 76px;
}

@media screen and (min-width: 700px) {
    .popup__form {
        margin-top: 54px;
    }
}