.profile__add-button {
    width: 282px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: transparent;
    background-image: url("../../../images/add.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: flex;
    background-position: 50%;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    .profile__add-button {
        width: 17%;
        background-size: 22px 22px;
    }
}