.elements {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

}

@media screen and (min-width:700px) {
    .elements {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 21px 17px;

    }
}