.elements {
    display: grid;
    grid-template-columns: 282px;
    gap: 20px;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

@media screen and (min-width:700px) {
    .elements {
        grid-template-columns: repeat(2, 282px);
        gap: 21px 17px;
    }
}

@media screen and (min-width:980px) {
    .elements {
        grid-template-columns: repeat(3, 282px);
        gap: 21px 17px;
    }
}