.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width:980px) {
    .main {
        display: block;
    }
}