.form__input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    line-height: 17px;
    font-size: 14px;
    padding: 30px 0 13px;
    background-color: transparent;
    margin: 0;
}

.form__input:invalid {
    border-bottom: 1px solid red;
}