.popup__container {
    width: 88%;
    z-index: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 322px;
}

@media screen and (min-width:700px) {
    .popup__container {
        width: 470px;
        height: 330px;
        align-items: flex-start;
    }
}