.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 700px) {
    .container {
        width: 90%;
        max-width: 880px;
        margin: 0;
        padding: 0;
    }
}