.element__photo {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

@media screen and (min-width:700px) {
    .element__photo {
        max-height: 282px;
        height: 100%;
    }
}