.popup {
    visibility: hidden;
    opacity: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 500;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in-out 0s, visibility 0s 1s;
}